/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */
:root{
    --primary-color : #fff;
    --secondary-color: #817F82;
    --accent-color : #111344;
    --primary-font-family : "Roboto Slab", serif;
    --secondary-font-family : "Roboto Condensed", sans-serif;
}

body{
    background-image: url("./images/background-body.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-tabs .nav-link{
    color: var(--accent-color);
    font-family: var(--primary-font-family);
    font-weight: bold;
}

.header-image{
    height: 25vh;
    width: 100%;
    overflow: hidden; 
    position: relative;  
}

.header-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.icon {
    display: inline-block;
    vertical-align: middle;
}

.icon-text {
    display: inline-block;
    vertical-align: middle;
    padding-left: .5rem;
    font-family: var(--secondary-font-family);
    color: var(--accent-color);
    font-weight: 500;
}

.profile{
    display: flex;
}

.profile > section:first-child{
    position: relative;
    top: -130px;
    text-align: center;
}

.profile article{
    text-align: left;
}

.profile > section:nth-child(2){
    padding: 6rem;
    width: 100%;
}

.profile-image{
    border-radius: 50%;
    width: 14rem;
    border: 6px solid var(--primary-color);
}

.profile-name{
    margin-top: 1rem;
    color: var(--accent-color);
    font-family: var(--primary-font-family);
    font-weight: bold;
}

.profile-position{
    font-weight: bold;
    font-size: 1.2rem;
    font-family: var(--secondary-font-family);
}

.profile-details{
    margin-top: 3rem;
    font-family: var(--secondary-font-family);
}

.socials-icon img{
    display: inline-block;
    width: 3rem;
    cursor: pointer;
    margin: 2rem .5rem 0 .5rem;
}

.socials-icon:hover{
    opacity: .3;
}

.badge{
    padding: .8rem 1.5rem .8rem 1.5rem;
    font-size: .8rem !important;
    margin-top: 1rem;
}

.skills{
    margin-top: 3rem;
}

.skills > h3{
    margin-bottom: 1rem;
}


/* Timeline */
.timeline {
    position: relative;
    max-width: 800px;
    margin: 50px auto;
    padding: 0 20px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: var(--accent-color);
    top: 0;
    bottom: 0;
    /* left: 4%; */
    margin-left: -1px;
}

.sub-timeline {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.sub-timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: var(--accent-color);
    top: 0;
    bottom: 0;
    /* left: 4%; */
    margin-left: -1px;
}

.event {
    position: relative;
    margin: 50px 0;
}

.event::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--accent-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
}

.sub-event {
    position: relative;
    margin: 20px 0;
}

.sub-event::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--accent-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -5px;
}

.sub-event .event-content{
    background-color: #fff;
    box-shadow: none;
}

.event:last-child::after {
    display: none;
}

.event-content {
    position: relative;
    margin-left: 30px;
    padding: 1.5rem;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-content h3 {
    margin-top: 0;
    color: var(--accent-color);
}

.event-content p {
    margin-bottom: 0;
}

@media (max-width: 600px) {
    .timeline::after {
        left: 20px;
    }

    .event::after {
        left: -5px;
    }

    .event-content {
        margin-left: 10px;
        padding: 5px;
    }
}

.certificate-image{
    width: 100%;
    margin-top: 2rem;
}